.MovieItem {
    display: flex;
    background: beige;
    width: 200px;
    height: 100px;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 7%;
    margin: 10px;
}

